<!-- View Sidenav Component -->
<mat-drawer-container autosize class="example-container">
    <mat-drawer mode="side" class="example-sidenav">
        <p>Auto-resizing sidenav</p>
        <!-- <div #viewPort></div> -->
        <!-- <ng-container #viewPort></ng-container> -->
        <!-- <ng-content select="mat-list"></ng-content> -->
        <!-- <ng-content select="[role='list']"></ng-content> -->
        <ng-content select="list"></ng-content>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="toggleSidenavOpened()">Toggle sidenav</button>
        <ng-content></ng-content>
    </div>
</mat-drawer-container>
