.card {
    max-width: 300px;
    display: flex;
    margin: 10px;
}

.feedback {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.cost {
    align-self: center;
    margin-top: 10px;
}

.buy-button {
    width: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}
