<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image alt="Photo of product" [src]="product.images[0].url" />
    <mat-card-content>
        <p class="example-card__price">{{ product.price | currency }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="example-card__btn-buy" (click)="onBuyClickHandler($event)">
            Buy
        </button>
    </mat-card-actions>
</mat-card>
