<mat-card class="product-card" (click)="onCardClick($event)">
    <mat-card-header>
        <mat-card-title>{{ productModel.name }}</mat-card-title>
        <mat-card-subtitle>{{ productModel.subCategory }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="product-card__image-container" [style.background-image]="backgroundImage">
        <mat-chip color="accent" selected>{{ productModel.feedbacksCount }} reviews</mat-chip>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions align="end" class="product-card__actions">
        <div class="product-card__rating">
            <span>Rating: {{ productModel.rating }} of 5</span>
        </div>
        <mat-divider></mat-divider>
        <div class="product-card__price-container">
            <span>
                {{ productModel.price | currency }}
            </span>
        </div>
        <button mat-raised-button color="primary" (click)="onBuyClick()">BUY</button>
    </mat-card-actions>
</mat-card>
