<mat-accordion>
    <mat-expansion-panel *ngFor="let category of categories" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ category.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="sub-catigories-container">
            <button
                *ngFor="let subCategory of category.subCategories"
                #routerLinkActive="routerLinkActive"
                mat-button
                hideToggle
                routerLinkActive
                class="sub-catigory"
                [disabled]="routerLinkActive.isActive"
                [routerLink]="['/products-list', subCategory._id]"
            >
                {{ subCategory.name }}
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
