.popup-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*gap: 1rem;*/
    z-index: 10000;
    background-color: #b1ffbf;
    justify-content: center;
    align-items: center;
}
