.popup-host__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-host__wrapper_hidden {
    display: none;
}

.popup-host__content {
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}
