<!-- <ng-template let-value [appIf]="products"> -->
<!-- <ng-template
    [ngIf]="products"
    [ngIfElse]="loaderTemplate"
    [ngIfThen]="loaderTemplate"
    let-valueProp="ngIf"
    let-value
> -->
<!-- <div
    *ngIf="products; else loaderTemplate; let valueProp = ngIf; let value"
    class="scroll-container"
> -->
<!-- <div
    *ngIf="products; else loaderTemplate; ngIf as valueProp; $implicit as value"
    class="scroll-container"
> -->
<!-- {{ data }} -->
<div *ngIf="products as valueProp; else loaderTemplate; let value" class="scroll-container">
    <!-- Раскомментрировать для ДЗ -->
    <ng-container
        *appPagination="
            let productsGroup of products;
            chankSize: 4;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex
        "
    >
        <div class="cards">
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackById"
                class="card"
                [product]="product"
            ></app-card>
        </div>
        <div class="pagination">
            <!-- Add pagination control -->
            <button mat-icon-button (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="pagination__page-number-container">
                <button
                    *ngFor="let index of pageIndexes"
                    mat-icon-button
                    class="pagination__page-number"
                    [class.pagination__page-number_active]="activeIndex === index"
                    (click)="selectIndex(index)"
                >
                    {{ index + 1 }}
                </button>
            </div>
            <button mat-icon-button (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </ng-container>
    <!-- <app-card class="card" [product]="value[1]"></app-card>
    <app-card class="card" [product]="value[2]"></app-card>
    <app-card class="card" [product]="value[3]"></app-card>
    <app-card class="card" [product]="value[4]"></app-card> -->
</div>
<!-- </ng-template> -->

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
