<!-- <ng-template let-value [appIf]="products"> -->
<!-- <ng-template
    [ngIf]="products"
    [ngIfElse]="loaderTemplate"
    [ngIfThen]="loaderTemplate"
    let-valueProp="ngIf"
    let-value
> -->
<!-- <div
    *ngIf="products; else loaderTemplate; let valueProp = ngIf; let value"
    class="scroll-container"
> -->
<!-- <div
    *ngIf="products; else loaderTemplate; ngIf as valueProp; $implicit as value"
    class="scroll-container"
> -->
<!-- {{ data }} -->
<div *ngIf="products as valueProp; else loaderTemplate; let value" class="scroll-container">
    <!-- Раскомментрировать для ДЗ -->
    <ng-container
        *appPagination="
            let productsGroup of products;
            let chankSize = chank;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex;
            let selectChank = selectChank
        "
    >
        <div class="cards">
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackById"
                class="card"
                [product]="product"
            ></app-card>
        </div>
        <div class="pagination">
            <input
                #chankSizeInput
                type="number"
                placeholder="Chank Size"
                (keyup)="selectChank(chankSizeInput.value)"
            />

            <button mat-icon-button [matMenuTriggerFor]="menu">Select Page</button>

            <mat-menu #menu="matMenu">
                <button
                    *ngFor="let pageIndex of pageIndexes"
                    mat-menu-item
                    [disabled]="activeIndex === pageIndex"
                    (click)="selectIndex(pageIndex) + 1"
                >
                    {{ pageIndex + 1 }}
                </button>
            </mat-menu>
            <button (click)="next()">Next</button>
            <button (click)="back()">Back</button>
        </div>
    </ng-container>
    <!-- <app-card class="card" [product]="value[1]"></app-card>
    <app-card class="card" [product]="value[2]"></app-card>
    <app-card class="card" [product]="value[3]"></app-card>
    <app-card class="card" [product]="value[4]"></app-card> -->
</div>
<!-- </ng-template> -->

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
